<configuration>
  <property name="pattern" value="%d{HH:mm:ss.SSS} [%-5level] %class{36}\(line %L\) - %msg%n" />
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%-5level] %class{36}\(line %L\) - %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/FileProcessor.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>log/FileProcessor.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] %class{36}\(line %L\) - %msg%n</pattern>
    </encoder>
  </appender>
  
  <root level="all">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>